In [161]:
import gmaps
import pandas as pd
import requests
import json

# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [162]:
# Creating weather stats dataframe from data in WeatherPy assignment
weather = pd.read_csv('../WeatherPy/retrieved_weather_data.csv')
weather.dropna(inplace = True)
weather.head()

,Name,Latitude (°),Longitude (°),Temperature (F),Humidity (%),Wind Speed (mph),Cloudiness (%)
0,Aklavik,68.22,-135.01,35.60,93,4.70,90
1,Sistranda,63.73,8.83,53.60,93,11.41,75
2,Punta Arenas,-53.15,-70.92,42.39,81,12.75,98
3,Manakara,-22.13,48.02,64.31,89,7.02,0
4,Albany,42.60,-73.97,41.67,58,3.91,0

In [163]:
# Storing locations
locations = weather[["Latitude (°)", "Longitude (°)"]]
locations
lat_long = list(zip(locations['Latitude (°)'],locations['Longitude (°)']))
weather['Lat_Long'] = lat_long
weather.head(5)
lat_long

[(68.22, -135.01),
 (63.73, 8.83),
 (-53.15, -70.92),
 (-22.13, 48.02),
 (42.6, -73.97),
 (-46.19, 168.86),
 (72.79, -56.15),
 (-33.65, 115.33),
 (-28.65, 153.62),
 (5.84, 118.12),
 (50.6, 97.52),
 (68.75, 161.3),
 (59.7, 30.79),
 (37.37, 118.02),
 (65.28, -126.83),
 (-21.21, -159.78),
 (71.29, -156.79),
 (-20.23, 164.02),
 (-34.42, 19.23),
 (-35.34, 143.55),
 (70.47, -68.59),
 (35.73, 140.83),
 (24.76, 71.77),
 (-21.36, 55.77),
 (1.49, 124.85),
 (-46.6, 168.33),
 (-46.28, 169.85),
 (36.5, -5.75),
 (40.81, 114.88),
 (-24.79, -50.01),
 (-33.93, 18.42),
 (45.04, 41.97),
 (-35.35, 150.47),
 (-23.7, 133.88),
 (35.13, 140.3),
 (-2.57, 150.8),
 (-28.55, 16.43),
 (30.48, -115.95),
 (73.51, 80.55),
 (20.2, 1.01),
 (-33.59, 26.89),
 (62.46, -114.35),
 (-16.48, -151.75),
 (-20.41, 57.7),
 (42.1, -79.24),
 (-0.74, -90.35),
 (-23.12, -134.97),
 (62.27, 21.38),
 (-2.92, -39.92),
 (-31.43, 152.92),
 (-26.79, -60.44),
 (51.13, 93.6),
 (39.82, 109.98),
 (57.05, -135.33),
 (60.92, -46.05),
 (-9.8, -139.03),
 (-20.95, -43.81),
 (50.91, 106.24),
 (41.37, -73.41),
 (19.22, -104.7),
 (-24.87, 113.63),
 (70.37, 31.11),
 (-23.78, -45.36),
 (42.56, -2.36),
 (43.36, 76.86),
 (9.33, -82.25),
 (-32.03, -52.1),
 (-15.43, -74.62),
 (22.08, -159.32),
 (71.97, 102.5),
 (68.82, -51.19),
 (-21.2, -175.2),
 (2.74, 23.78),
 (-25.24, 130.99),
 (60.37, 93.04),
 (-2.54, -57.76),
 (-10.26, -40.2),
 (69.45, -133.04),
 (69.38, 178.42),
 (39.03, -92.33),
 (-28.77, 114.6),
 (11.0, 122.67),
 (-0.6, 73.08),
 (13.22, -59.52),
 (-34.53, 20.04),
 (68.53, 146.42),
 (-54.8, -68.3),
 (30.76, 20.23),
 (25.53, -103.25),
 (5.35, 48.53),
 (69.49, 88.4),
 (50.06, 23.97),
 (38.25, -104.61),
 (15.17, 44.32),
 (22.29, 114.16),
 (46.49, 135.88),
 (39.05, -27.98),
 (60.42, 134.53),
 (-19.06, -169.92),
 (21.97, 96.08),
 (61.69, 53.69),
 (65.53, 13.41),
 (-46.13, 167.68),
 (71.92, 114.08),
 (32.67, -17.1),
 (19.73, -155.09),
 (-38.0, -57.56),
 (-34.58, 150.86),
 (36.94, -2.13),
 (-33.92, 25.57),
 (-37.62, -73.65),
 (-42.78, 147.06),
 (-9.67, -35.74),
 (55.1, -105.28),
 (-42.88, 147.33),
 (69.22, -51.1),
 (-33.02, 27.91),
 (59.06, 80.86),
 (60.41, 57.08),
 (-14.27, 50.17),
 (58.6, 125.39),
 (21.46, -71.14),
 (45.87, 25.78),
 (-20.52, 57.52),
 (78.22, 15.64),
 (32.69, 128.84),
 (57.79, -152.41),
 (-15.31, -42.01),
 (17.04, 99.08),
 (66.83, 70.83),
 (34.34, 132.59),
 (-4.2, 152.17),
 (5.65, 36.65),
 (-33.87, 121.9),
 (59.18, 61.86),
 (27.98, -114.06),
 (45.75, -87.06),
 (17.02, 54.09),
 (40.8, -124.16),
 (63.84, -22.43),
 (77.48, -69.36),
 (39.18, -84.53),
 (-22.97, -42.03),
 (6.12, 81.12),
 (66.77, 123.37),
 (-19.76, -44.31),
 (4.93, -52.33),
 (50.75, 33.47),
 (-6.88, 112.21),
 (4.88, -1.76),
 (44.67, -103.85),
 (63.75, -68.51),
 (64.89, -23.71),
 (44.17, 66.75),
 (-33.01, 17.94),
 (-13.7, -76.22),
 (14.9, -24.5),
 (21.43, 39.83),
 (58.21, -6.39),
 (65.61, -37.64),
 (26.73, 33.94),
 (22.57, 59.53),
 (3.07, 172.79),
 (62.23, -6.59),
 (15.85, -97.07),
 (-43.25, -65.31),
 (67.63, 134.63),
 (43.65, 111.98),
 (55.74, -97.86),
 (5.11, -1.25),
 (54.84, 11.13),
 (0.53, 72.93),
 (34.88, -76.9),
 (20.89, -156.47),
 (51.15, 37.89),
 (43.32, 145.57),
 (61.99, 5.14),
 (-37.83, 140.77),
 (55.68, 11.09),
 (18.39, 42.45),
 (-20.33, -40.29),
 (14.53, 20.92),
 (69.7, 170.31),
 (-30.18, -50.21),
 (-3.7, 128.18),
 (5.41, 100.34),
 (33.73, 135.98),
 (48.01, 91.64),
 (50.12, 139.15),
 (49.71, 12.09),
 (64.5, -165.41),
 (32.9, 115.82),
 (-45.58, -72.07),
 (-14.55, 48.73),
 (26.18, 127.76),
 (33.24, 72.27),
 (-35.17, 173.17),
 (-20.15, 28.58),
 (51.12, 9.12),
 (25.75, 71.38),
 (41.96, 42.96),
 (54.48, 53.47),
 (51.26, -80.61),
 (37.57, 126.98),
 (-17.73, -149.15),
 (60.75, -137.51),
 (10.28, 22.79),
 (-6.21, -40.69),
 (-41.41, 175.52),
 (37.93, 102.64),
 (49.6, 117.43),
 (-6.13, 12.37),
 (65.82, 87.98),
 (-13.88, 167.55),
 (48.0, 13.92),
 (20.22, -96.78),
 (-20.34, 57.76),
 (33.95, 131.95),
 (25.29, 60.64),
 (38.52, -28.7),
 (-20.01, 57.66),
 (-2.02, 147.27),
 (-23.65, -70.4),
 (29.03, 21.55),
 (44.53, -109.06),
 (11.28, -15.83),
 (62.89, 54.96),
 (71.69, 128.87),
 (34.77, -92.3),
 (38.92, 141.13),
 (70.63, 147.92),
 (-26.62, -54.13),
 (16.86, -99.89),
 (28.37, 121.36),
 (42.27, 118.96),
 (41.12, 80.26),
 (41.61, -4.8),
 (16.45, -85.85),
 (64.84, -147.72),
 (38.04, -84.9),
 (-0.6, -80.42),
 (-0.61, -47.36),
 (-0.87, 134.08),
 (37.72, -25.43),
 (-20.46, -66.83),
 (-17.0, 145.43),
 (39.55, -107.32),
 (21.35, -158.09),
 (-22.9, 44.53),
 (50.72, 136.63),
 (60.72, -46.03),
 (18.04, -88.66),
 (40.5, 34.75),
 (32.77, 22.64),
 (36.21, 58.8),
 (69.01, 23.04),
 (45.52, -122.68),
 (66.32, -179.17),
 (70.86, 29.09),
 (9.9, 4.42),
 (31.61, 34.76),
 (-13.2, 49.05),
 (-0.78, 29.75),
 (11.03, 20.28),
 (45.41, 79.92),
 (-25.85, 25.63),
 (43.74, 135.29),
 (62.11, 42.9),
 (38.89, -76.51),
 (60.14, -45.24),
 (37.78, -121.98),
 (37.98, 23.72),
 (4.41, 114.01),
 (41.65, 2.74),
 (-35.33, -72.42),
 (46.21, -119.14),
 (70.66, 23.68),
 (-19.12, 33.48),
 (67.67, 12.69),
 (7.0, 0.29),
 (66.15, -65.71),
 (37.27, 28.22),
 (58.52, -117.14),
 (35.55, 133.23),
 (2.82, -60.67),
 (38.83, -104.82),
 (0.13, 117.5),
 (-15.2, 12.15),
 (-7.05, 112.74),
 (55.41, 88.92),
 (42.68, -96.68),
 (-9.11, 124.89),
 (-45.87, 170.5),
 (-35.72, 150.18),
 (40.16, -8.33),
 (65.58, -171.0),
 (36.29, -76.25),
 (41.14, -73.36),
 (-7.2, 35.73),
 (26.33, 43.98),
 (-22.67, 167.48),
 (57.84, 108.35),
 (5.95, 80.54),
 (-15.72, 46.32),
 (-33.7, -53.46),
 (24.27, 80.17),
 (40.8, -96.67),
 (54.56, 100.58),
 (-6.09, -35.21),
 (-5.67, 132.75),
 (26.93, -101.45),
 (62.58, 6.13),
 (13.93, 41.69),
 (50.68, 156.12),
 (38.73, -27.07),
 (61.36, 63.58),
 (43.21, -75.46),
 (18.73, -103.68),
 (-0.17, 35.86),
 (51.38, 1.39),
 (3.3, 117.63),
 (46.05, 38.17),
 (-3.75, -73.25),
 (22.89, -109.91),
 (69.3, 139.9),
 (66.66, 66.42),
 (48.4, -89.32),
 (35.0, 132.22),
 (-9.08, 143.21),
 (68.05, 39.51),
 (-8.93, 125.41),
 (10.57, 72.64),
 (-35.62, 174.5),
 (57.97, 33.25),
 (56.45, 138.17),
 (58.96, 126.29),
 (0.7, 108.9),
 (71.04, 27.85),
 (40.43, 71.72),
 (17.78, 95.75),
 (57.86, 45.78),
 (62.92, 34.47),
 (34.17, 77.58),
 (18.47, 120.58),
 (-24.03, -52.01),
 (-2.63, -80.38),
 (20.52, -13.05),
 (-2.65, 10.0),
 (28.42, 30.78),
 (55.83, 56.91),
 (37.73, -25.67),
 (-17.71, -39.25),
 (-20.73, 139.5),
 (39.23, 106.34),
 (20.86, 92.31),
 (53.52, -2.49),
 (32.93, 132.73),
 (-24.0, 21.75),
 (58.57, 5.7),
 (-6.64, -51.99),
 (50.6, 95.0),
 (20.93, -17.03),
 (-34.58, -60.94),
 (-0.41, -65.02),
 (44.06, -121.32),
 (34.64, -120.46),
 (64.86, -147.8),
 (-13.46, 25.83),
 (-31.54, -68.54),
 (28.66, -17.92),
 (-3.48, 23.43),
 (21.83, 106.73),
 (-12.6, -69.18),
 (-35.1, 173.78),
 (65.75, 150.85),
 (66.94, -53.67),
 (40.75, -73.58),
 (40.84, 43.92),
 (-18.06, 13.84),
 (58.69, 99.18),
 (41.28, -70.1),
 (-20.32, 118.57),
 (-21.15, 149.2),
 (71.0, 24.66),
 (46.42, 3.91),
 (-16.1, 46.63),
 (-26.65, 15.16),
 (50.38, 29.52),
 (3.87, -67.92),
 (42.03, 24.0),
 (5.4, 125.46),
 (4.8, 18.13),
 (-30.38, 153.1),
 (-14.84, -39.99),
 (-42.77, -65.04),
 (37.61, -122.49),
 (48.6, 133.82),
 (5.97, -0.09),
 (52.71, 41.95),
 (63.05, 179.32),
 (18.69, 12.92),
 (35.57, 53.4),
 (0.92, 31.77),
 (51.32, 42.77),
 (28.42, -106.87),
 (13.81, -10.83),
 (15.86, 104.63),
 (34.62, -79.01),
 (50.15, 48.57),
 (57.8, 158.67),
 (48.96, 14.93),
 (-38.27, 141.97),
 (46.84, 74.98),
 (12.78, 45.04),
 (43.7, -85.48),
 (-16.92, 35.26),
 (-22.4, 46.12),
 (61.67, 96.37),
 (48.65, -53.11),
 (30.15, 62.6),
 (-2.76, -42.27),
 (32.22, -98.2),
 (46.62, 10.7),
 (42.25, -75.83),
 (63.01, 112.47),
 (7.04, 134.26),
 (34.8, -106.54),
 (60.55, -151.26),
 (54.78, -127.17),
 (20.05, -75.95),
 (-0.72, 8.78),
 (5.38, -52.95),
 (17.08, 122.42),
 (6.3, -10.8),
 (68.05, 166.44),
 (-9.88, -56.09),
 (57.11, 12.25),
 (-14.9, 50.28),
 (62.97, 23.01),
 (38.93, 100.45),
 (47.67, -52.73),
 (69.24, 19.23),
 (60.95, 25.93),
 (8.37, -4.43),
 (20.71, 70.98),
 (49.42, 31.92),
 (19.73, 96.22),
 (47.6, -53.26),
 (25.77, -80.19),
 (34.72, -77.32),
 (24.8, 125.28),
 (41.76, 86.15),
 (-38.95, -68.06),
 (13.59, -89.83),
 (56.91, 118.26),
 (-20.74, 116.85),
 (-3.99, -79.2),
 (-20.05, 48.12),
 (-29.95, -71.34),
 (13.2, -16.73),
 (55.34, -131.65),
 (60.47, 166.1),
 (32.63, -16.97),
 (54.11, 11.9),
 (36.4, -97.88),
 (55.83, 34.27),
 (61.94, 76.66),
 (14.3, -91.92),
 (-30.4, -56.47),
 (39.51, 54.37),
 (-41.87, -73.82),
 (40.28, 97.2),
 (-39.2, 173.88),
 (-3.33, 128.92),
 (-17.8, -63.17),
 (29.27, 82.18),
 (4.42, -7.35),
 (-8.14, 159.59),
 (35.96, -80.01),
 (50.1, 118.04),
 (66.04, -17.34),
 (38.42, -121.42),
 (-38.55, -58.74),
 (35.02, -110.7),
 (17.88, -76.41),
 (67.8, 130.41),
 (54.72, 135.31),
 (16.58, 82.02),
 (-8.68, 36.72),
 (-8.01, -34.86),
 (-34.48, -54.33),
 (-44.49, 171.21),
 (65.85, 74.49),
 (37.1, -113.58),
 (3.46, 8.55),
 (14.69, -17.44),
 (-20.1, 146.27),
 (50.2, -66.38),
 (37.34, -121.89),
 (47.8, 67.71)]

In [164]:
# Filtering for desired weather conditions
good_weather = weather.loc[(weather['Temperature (F)'] > 70) & (weather['Cloudiness (%)'] < 50) & (weather['Humidity (%)'] < 50)]
good_weather.head(5)

,Name,Latitude (°),Longitude (°),Temperature (F),Humidity (%),Wind Speed (mph),Cloudiness (%),Lat_Long
32,Ulladulla,-35.35,150.47,79.05,37,16.11,20,"(-35.35, 150.47)"
39,Tessalit,20.20,1.01,87.42,16,8.66,0,"(20.2, 1.01)"
92,Pueblo,38.25,-104.61,73.47,33,4.70,1,"(38.25, -104.61)"
130,Kumano,34.34,132.59,74.28,49,6.93,20,"(34.34, 132.59)"
157,Makkah al Mukarramah,21.43,39.83,82.98,34,3.29,0,"(21.43, 39.83)"

In [165]:
# Adding column for nearest hotel
nearest_hotel = pd.DataFrame(good_weather)
nearest_hotel['Nearest_Hotel'] = ""
nearest_hotel.head(5)

,Name,Latitude (°),Longitude (°),Temperature (F),Humidity (%),Wind Speed (mph),Cloudiness (%),Lat_Long,Nearest_Hotel
32,Ulladulla,-35.35,150.47,79.05,37,16.11,20,"(-35.35, 150.47)",
39,Tessalit,20.20,1.01,87.42,16,8.66,0,"(20.2, 1.01)",
92,Pueblo,38.25,-104.61,73.47,33,4.70,1,"(38.25, -104.61)",
130,Kumano,34.34,132.59,74.28,49,6.93,20,"(34.34, 132.59)",
157,Makkah al Mukarramah,21.43,39.83,82.98,34,3.29,0,"(21.43, 39.83)",

In [166]:
# params dictionary to update each iteration

params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

for index, row in nearest_hotel.iterrows():
    # get lat, lng from df
    lat = row["Latitude (°)"]
    lng = row["Longitude (°)"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    results = requests.get(base_url, params=params).json()    
    
    try:
        nearest_hotel.loc[index, "Nearest_Hotel"] = results["results"][0]["name"]
        print(f"Successfully added, ", results["results"][0]["name"])
    
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        continue

Successfully added,  Sandpiper Motel
Missing field/result... skipping.
Successfully added,  Hampton Inn & Suites Pueblo-Southgate
Successfully added,  ホテル コラソン
Successfully added,  Hotel Fairmont Makkah Clock Royal Tower
Successfully added,  Lamar Resort Abu Soma
Successfully added,  Shingu UI Hotel
Successfully added,  LOTTE HOTEL SEOUL
Successfully added,  Hotel pousada santo onofre
Successfully added,  ホテル松原屋
Successfully added,  Marriott's Ko Olina Beach Club
Successfully added,  San Ramon Marriott
Successfully added,  Hometowne Inn
Successfully added,  Batemans Bay Marina Resort
Successfully added,  Mövenpick Hotel Qassim
Successfully added,  Nag Aespen
Successfully added,  ibis Styles Mt Isa Verona
Successfully added,  The Esplanade Hotel
Successfully added,  Expeditions Ténére voyages
Successfully added,  ibis Styles Karratha
Successfully added,  Holiday Inn Express & Suites Elk Grove Central - Hwy 99
Successfully added,  Best Western Plus Winslow Inn
Successfully added,  Best Western Plus Abbey Inn
Successfully added,  Cattleman's Rest Motor Inn

In [168]:
nearest_hotel.head(5)

,Name,Latitude (°),Longitude (°),Temperature (F),Humidity (%),Wind Speed (mph),Cloudiness (%),Lat_Long,Nearest_Hotel
32,Ulladulla,-35.35,150.47,79.05,37,16.11,20,"(-35.35, 150.47)",Sandpiper Motel
39,Tessalit,20.20,1.01,87.42,16,8.66,0,"(20.2, 1.01)",
92,Pueblo,38.25,-104.61,73.47,33,4.70,1,"(38.25, -104.61)",Hampton Inn & Suites Pueblo-Southgate
130,Kumano,34.34,132.59,74.28,49,6.93,20,"(34.34, 132.59)",ホテル コラソン
157,Makkah al Mukarramah,21.43,39.83,82.98,34,3.29,0,"(21.43, 39.83)",Hotel Fairmont Makkah Clock Royal Tower

In [169]:
# Dropping Tessalit since no hotel is found
nan_value = float("NaN")
nearest_hotel.replace("", nan_value, inplace=True)
nearest_hotel.dropna()

,Name,Latitude (°),Longitude (°),Temperature (F),Humidity (%),Wind Speed (mph),Cloudiness (%),Lat_Long,Nearest_Hotel
32,Ulladulla,-35.35,150.47,79.05,37,16.11,20,"(-35.35, 150.47)",Sandpiper Motel
92,Pueblo,38.25,-104.61,73.47,33,4.70,1,"(38.25, -104.61)",Hampton Inn & Suites Pueblo-Southgate
130,Kumano,34.34,132.59,74.28,49,6.93,20,"(34.34, 132.59)",ホテル コラソン
157,Makkah al Mukarramah,21.43,39.83,82.98,34,3.29,0,"(21.43, 39.83)",Hotel Fairmont Makkah Clock Royal Tower
160,Safaga,26.73,33.94,86.00,45,11.41,0,"(26.73, 33.94)",Lamar Resort Abu Soma
186,Shingū,33.73,135.98,78.80,47,5.82,20,"(33.73, 135.98)",Shingu UI Hotel
203,Seoul,37.57,126.98,70.88,46,2.89,1,"(37.57, 126.98)",LOTTE HOTEL SEOUL
207,Parambu,-6.21,-40.69,75.49,42,5.55,12,"(-6.21, -40.69)",Hotel pousada santo onofre
217,Hikari,33.95,131.95,73.40,49,9.17,20,"(33.95, 131.95)",ホテル松原屋
247,Makakilo City,21.35,-158.09,84.29,48,9.17,40,"(21.35, -158.09)",Marriott's Ko Olina Beach Club
270,San Ramon,37.78,-121.98,77.67,30,10.29,1,"(37.78, -121.98)",San Ramon Marriott
290,Elk Point,42.68,-96.68,70.68,49,10.00,47,"(42.68, -96.68)",Hometowne Inn
293,Batemans Bay,-35.72,150.18,84.00,37,3.00,0,"(-35.72, 150.18)",Batemans Bay Marina Resort
299,Buraidah,26.33,43.98,75.20,33,6.93,0,"(26.33, 43.98)",Mövenpick Hotel Qassim
348,Maţāy,28.42,30.78,75.72,48,11.43,0,"(28.42, 30.78)",Nag Aespen
352,Mount Isa,-20.73,139.50,96.80,26,12.75,7,"(-20.73, 139.5)",ibis Styles Mt Isa Verona
381,Port Hedland,-20.32,118.57,78.80,9,21.92,0,"(-20.32, 118.57)",The Esplanade Hotel
400,Bilma,18.69,12.92,85.60,27,3.96,0,"(18.69, 12.92)",Expeditions Ténére voyages
455,Karratha,-20.74,116.85,79.70,17,18.39,0,"(-20.74, 116.85)",ibis Styles Karratha
481,Laguna,38.42,-121.42,81.07,41,6.64,1,"(38.42, -121.42)",Holiday Inn Express & Suites Elk Grove Central...
483,Winslow,35.02,-110.70,82.40,19,5.82,1,"(35.02, -110.7)",Best Western Plus Winslow Inn
493,Saint George,37.10,-113.58,89.29,14,9.17,1,"(37.1, -113.58)",Best Western Plus Abbey Inn
496,Charters Towers,-20.10,146.27,87.89,35,13.15,0,"(-20.1, 146.27)",Cattleman's Rest Motor Inn

In [170]:
nearest_hotel['Country'] = ""
nearest_hotel.head(10)

,Name,Latitude (°),Longitude (°),Temperature (F),Humidity (%),Wind Speed (mph),Cloudiness (%),Lat_Long,Nearest_Hotel,Country
32,Ulladulla,-35.35,150.47,79.05,37,16.11,20,"(-35.35, 150.47)",Sandpiper Motel,
39,Tessalit,20.20,1.01,87.42,16,8.66,0,"(20.2, 1.01)",NaN,
92,Pueblo,38.25,-104.61,73.47,33,4.70,1,"(38.25, -104.61)",Hampton Inn & Suites Pueblo-Southgate,
130,Kumano,34.34,132.59,74.28,49,6.93,20,"(34.34, 132.59)",ホテル コラソン,
157,Makkah al Mukarramah,21.43,39.83,82.98,34,3.29,0,"(21.43, 39.83)",Hotel Fairmont Makkah Clock Royal Tower,
160,Safaga,26.73,33.94,86.00,45,11.41,0,"(26.73, 33.94)",Lamar Resort Abu Soma,
186,Shingū,33.73,135.98,78.80,47,5.82,20,"(33.73, 135.98)",Shingu UI Hotel,
203,Seoul,37.57,126.98,70.88,46,2.89,1,"(37.57, 126.98)",LOTTE HOTEL SEOUL,
207,Parambu,-6.21,-40.69,75.49,42,5.55,12,"(-6.21, -40.69)",Hotel pousada santo onofre,
217,Hikari,33.95,131.95,73.40,49,9.17,20,"(33.95, 131.95)",ホテル松原屋,

In [171]:
params = {"key": gkey}

for index, row in nearest_hotel.iterrows():
    
    lat = row["Latitude (°)"]
    lng = row["Longitude (°)"]
    params["address"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    
    results = requests.get(base_url, params=params).json() 
    
    try:
        if "country" in results["types"]:
            nearest_hotel.loc[index, "Country"] = results["results"][0]["address_components"][5]["long_name"] 
            print(f"Successfully added, ", results["results"][0]["address_components"][5]["long_name"])

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        continue

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [172]:
nearest_hotel.head(10)

,Name,Latitude (°),Longitude (°),Temperature (F),Humidity (%),Wind Speed (mph),Cloudiness (%),Lat_Long,Nearest_Hotel,Country
32,Ulladulla,-35.35,150.47,79.05,37,16.11,20,"(-35.35, 150.47)",Sandpiper Motel,
39,Tessalit,20.20,1.01,87.42,16,8.66,0,"(20.2, 1.01)",NaN,
92,Pueblo,38.25,-104.61,73.47,33,4.70,1,"(38.25, -104.61)",Hampton Inn & Suites Pueblo-Southgate,
130,Kumano,34.34,132.59,74.28,49,6.93,20,"(34.34, 132.59)",ホテル コラソン,
157,Makkah al Mukarramah,21.43,39.83,82.98,34,3.29,0,"(21.43, 39.83)",Hotel Fairmont Makkah Clock Royal Tower,
160,Safaga,26.73,33.94,86.00,45,11.41,0,"(26.73, 33.94)",Lamar Resort Abu Soma,
186,Shingū,33.73,135.98,78.80,47,5.82,20,"(33.73, 135.98)",Shingu UI Hotel,
203,Seoul,37.57,126.98,70.88,46,2.89,1,"(37.57, 126.98)",LOTTE HOTEL SEOUL,
207,Parambu,-6.21,-40.69,75.49,42,5.55,12,"(-6.21, -40.69)",Hotel pousada santo onofre,
217,Hikari,33.95,131.95,73.40,49,9.17,20,"(33.95, 131.95)",ホテル松原屋,

In [176]:
# Customize the size of the figure
figure_layout = {
    'width': '1200px',
    'height': '800px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)


# Humidity heat map
humidity = weather["Humidity (%)"].astype(float)


# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Getting coordinates of the hotels
nearest_lat_long = list(nearest_hotel['Lat_Long'])
nearest_lat_long

# Assigning the markers
markers = gmaps.marker_layer(nearest_lat_long)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='1px', wi…